h1 {
    color:darkblue;
    font-weight:400;
  }
  
  p {
    color:black;
    font-size: 15px;
    font-weight: 10;
    background-color:white
  }
  .rectangle-image {
    height: 400px;
  }
  .rectangle-png {
    height: 150px;
    width: 150px;
  }
  ul {
    list-style:none ;
    margin: 0px;
  }
  li {
    padding-bottom: 20px;
    border-top-width: 20px;
    border-left-width: 20px;
    margin: 0px;
  }
  section{
    margin: 70px;
  }
  h2 {
    background-color: white;
  }
footer {
    background-color:white;
    color:black;
    padding: 0px;
  }
  
  .left {
    float: left;
    text-align: right; 
    width: 50%; 
  }
  
  .right {
    float: left;
    text-align: left;
    width: 50%;
  }
  
  form {
    margin-top: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
  }
  
  .input-block {
    margin-top: 50px;
    margin-bottom: 100px;
}